{{define "CreateProduct"}}
{{template "Head"}}
  <body>
    {{template "Navbar"}}
    <div class="container-md mt-5 mb-5">
      <h1 class="fs-1 fw-bold text-center">Create Product</h1>
    </div>
    <div class="container-md">
      <form method="post" action="/products/create">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome do Produto</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            aria-describedby="emailHelp"
            name="nome"
            required
          />
          <div id="emailHelp" class="form-text">
            O produto a ser adicionado não deve existir na base.
          </div>
        </div>
        <div class="mb-3">
          <label for="descricao" class="form-label">Descrição</label>
          <input
            type="text"
            class="form-control"
            id="descricao"
            name="descricao"
          />
        </div>

        <div class="mb-3">
          <label for="preco" class="form-label">Preço</label>
          <input type="number" class="form-control" id="preco" name="preco" required/>
        </div>

        <div class="mb-3">
          <label for="quantidade" class="form-label">Quantidade</label>
          <input
            type="number"
            class="form-control"
            id="quantidade"
            name="quantidade"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">Criar</button>
        <a class="danger m-2" href="/">Voltar</a>
      </form>
    </div>
  </body>
</html>
{{end}}
