{{define "Index"}}
{{template "Head"}}
<body>
    {{template "Navbar"}}
    <div class="container-md mt-5 mb-5">
        <h1 class="text-center">Loja de produtos - Golang</h1>
    </div>
    <div class="container-md">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <td>Camiseta</td>
                <td>teste</td>
                <td>teste</td>
                <td>teste</td>
            </tr>
            <tr>
                {{
                    range.
                }}
                <tr>
                    <td>{{.Nome}}</td>
                    <td>{{.Descricao}}</td>
                    <td>{{.Preco}}</td>
                    <td>{{.Quantidade}}</td>
                    <td><button class="btn btn-danger" onclick="onDelete('{{.Id}}')">Deletar</button></td>
                </tr>
                {{
                    end
                }}
            </tr>
        </tbody>
    </table>
    <div class="card-footer mt-5">
        <a href="products/create" class="btn btn-primary mb-2">
            Criar novo produto
        </a>
    </div>
    </div>

</body>

<script>
    function onDelete(id){
        if(confirm("Deseja realmente excluir este produto?")){
            window.location.href = "/delete?id=" + id;
        }
    }
</script>

</html>
{{end}}